Options -Indexes
RewriteEngine On

# handle the Greek privacy notice under an additional URL
RewriteRule ^docs/privacy-notice-el.pdf$ /docs/privacy-notice-gr.pdf [L,R=301]

# redirect non-existing translations of the privacy notice to the English version
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^docs/privacy-notice-[a-z]+.pdf$ /docs/privacy-notice.pdf [L,R=302]

# serve open-Up2U fair-use-policy.pdf also as terms.pdf
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^open/docs/terms.pdf$ /open/docs/fair-use-policy.pdf [L]

